table{
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}
.title-tr{
    height: 35px;
    border-bottom:1px solid gray ;
}
.title-tr td{
    color: rgba(128, 128, 128, 0.856);
    font-size: large;

}
td:first-child{
    width: 10%;
}
td:nth-child(2){
    width: 10%;
}
td:nth-child(3){
    width: 20%;
}
td:nth-child(4){
    width: 10%;
}
td:nth-child(6){
    width: 150px;
    padding-left: 10px;
    padding-right: 15px;
}
td:last-child{
    width: 200px;
}